
body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 26px;
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}

/* ===============================================================
HEADER
=============================================================== */

header {
	width: 1024px;
	height: 100px;
	margin: 0 auto;
	/*background: url(../images/header_bg.png) no-repeat left top;*/
}

header h1 {
	padding: 15px;
	margin: 0;
	float: left;
}

header span {
	float: right;
	padding: 20px;
}

.breadcrumb {
	width: 1024px;
	margin: 0 auto;
	padding: 5px 0;
	background: #1875d1;
	color: #fff;
}
.breadcrumb2 {
	width: 80%;
	height:350px;
	margin: 0 auto;
	padding: 5px 0;
	background: #9ec796;
	color: #fff;
	overflow: hidden;
}

footer {
	width: 1024px;
	margin: 0 auto;
	color: #fff;
	font-size: 0.8em;
	position: relative;
}

footer span {
	display: block;
	text-align: right;
	top: -35px;
	right: 20px;
	position: relative;
}

footer .footer_in {
	padding: 15px;
	background: #1875d1;
}
#left {
	position: absolute;
	left: 0px;
	top: 0;
	text-align: left;
	width:25%;
	height:100%;
	overflow:hidden;
	}
#right{
	position: absolute;
	top: 0;
	right: 0;
	border-left: 2px solid #ccc;
	width:75%;
	height:100%;
	overflow:hidden;

	}
iframe {
	border: none;
	width: 100%;
	}	

