@charset "utf-8";

/* 本体 */
body {
	font-size: 90%;
	color: #222;
    font-family: "PingFang SC",miui,system-ui,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif;
	line-height: 1.22;
	background: url(bg3.gif) scroll repeat center top;
}
td {
	text-align: left;
}
a:link, a:visited {
	color: #1122cc;
	text-decoration: none;
	display: inline-block;
}
a:hover {
	text-decoration: underline;
	color: #dd0000;
}

/* TOPロゴ関連 */
img#top-logo {
	/* width: 240px;
	height: 73; */
	border: none;
}
.pr {
	color: #ff8000 !important;
}
.num {
	font-family: Verdana,Helvetica,Arial;
}

/* TOP BOX形状 */
.book_cap {
	font-size: 12px;
	color: #454545;
	text-align: center;
}
.box1 {
	width: 445px;
}
.box2 {
	border-width: 1px;
	border-color: #333;
	border-style: solid
}
.box3 {
	border-width: 1px;
	border-color: #fff #999 #999 #fff;
	border-style: solid;
}
.box4 {
	background-color: #d0d0d0;
	padding: 1px;
}
.box5 {
	padding: 3px 3px 4px 3px;
	text-align: center !important;
}
.box6 {
	border-width: 1px;
	border-color: #999 #fff #fff #999;
	border-style: solid;
}
.box7 {
	border: 1px #333 solid;
	background-color: #fff;
	padding: 10px;
}
.box7 span {
	font-size: 12px;
}

/* 右寄せ */
div.fl-r {
	float: right;
}
.cell_wp {
	color: white;
	font-size: 12px;
	background: url(../../img/wp18_33.gif);
}
.mainlink a, .lh-20 {
	line-height: 20px;
}
.arrow {
	background: url(../../img/arrow.gif) no-repeat 4px center;
	padding-left: 18px;
}
.arrow-s {
	background: url(../../img/arrow-s.gif) no-repeat 4px center;
	padding-left: 16px;
	margin-left: 1.2em;
}
.dotlink_r {
	background: url(../../img/pt12-1-02.gif) no-repeat 4px center;
	padding-left: 17px;
}
.ccllink_y {
	background: url(../../img/lm01-03.gif) no-repeat 4px center;
	padding-left: 17px;
}
.pr_tbl {
	height: 2px;
	border: 2px;
	border-style: dashed;
}
.dot { border: 1px dotted #666; }
.txt15 {
	font-size: 15px;
}
.tbl-key { background: #bdbddf; }
.tbl-val { background: #fff; }

/* 基本テーブル */
table.form-tbl {
	border-collapse: collapse;
	margin: 1em 0;
}
table.form-tbl th, table.form-tbl td  {
	padding: 8px;
	border: 1px solid #3c3c79;
}
table.form-tbl th  {
	background: #bdbddf;
}
table.form-tbl td input[type="text"] {
	padding: 5px;
}
div.submit-btn input {
	width: 110px;
	height: 32px;
}

/* 検索窓 */
form.ksearch {
	width: 200px;
	background: url(../../img/input.gif) left top no-repeat;
	display: block;
	height: 24px;
	position: relative;
}
input.keywd {
	width: 156px;
	position: absolute;
	top: 3px;
	left: 12px;
	border: 1px solid #fff;
	color: #888;
	font-size: 12px;
}
input.keybtn {
	position: absolute;
	top: 3px;
	left: 174px;
}

/* 位置指定 */
.ta-c {
	text-align: center;
}
.ta-r {
	text-align: right;
}
.ta-l {
	text-align: left !important;
}
.small {
	font-size: 12px;
}

/* フッター */
div.footer {
	margin-top: 7px;
	font-size: 90%;
	text-align: center;
}
.copy {
	font-size: 12px;
	/* color: #363636; */
}

/* 解説ページindexトップ */
table.cgi-menu {
	width: 900px;
	border-collapse: collapse;
	margin: 3px auto 1em auto;
}
table.cgi-menu th, table.cgi-menu td {
	padding: 7px;
	border: 1px solid #333;
}
table.cgi-menu th {
	text-align: center;
	color: #000;
	background: #9a9acd;
}
table.cgi-menu td span {
	font-size: 12px;
	color: #008c00;
}
table.cgi-menu td b {
	font-family: Verdana,Helvetica,Arial;
}
table.cgi-menu td strong, table.cgi-menu td b {
	font-size: 12px;
	font-family: Verdana,Helvetica,Arial;
}
table.cgi-menu img {
	border: none;
}
.prog-name {
	width: 140px;
}
table.cgi-menu .note { /* 解説セル */
	width: 500px;
}
.det-btn, .dif-img { /* 解説ページボタン */
	text-align: center;
	width: 85px;
}
table.cgi-menu .sample { /* 見本セル */
	text-align: center;
	width: 40px;
}

/* 各解説ページヘッダ */
table.kai-head {
	width: 900px;
	margin: 0 auto;
}
table.kai-head td.kai-ttl {
	width: 300px;
	font-size: 12px;
}
table.kai-head p {
	text-align: center;
	font-size: 13px !important;
}

/* メイン */
div.main {
	text-align: center;
	width: 100%;
}
div.doc-box {
	margin: 0 auto;
	text-align: left;
	width: 900px;
}

/* 本体 */
div.body {
	margin: 1.2em auto 0 auto;
	width: 900px;
	text-align: left;
}
/* - 共通 - */
img.icon {
	vertical-align: middle;
	border: none;
}
/* サポートコーナリスト */
ul.sup-list {
	text-align: left;
	line-height: 150%;
}
/* 注釈 */
div.note {
	margin-top: 1.2em !important;
	width: 770px;
	text-align: left !important;
	font-size: 12px !important;
}
div.notes {
	font-size: 12px;
	padding: 6px;
	border: 1px dotted #888;
}
/* 解説トップヘッダー部 */
table.top-ttl {
	width: 100%;
	margin: 0 auto;
}
table.top-ttl td {
	vertical-align: top;
}
table.top-ttl td span {
	color: navy;
	font-weight: bold;
}
/* 入室ボタン：サポートコナー */
div#enter-btn {
	border: 1px solid #006400;
	padding: 6px;
	width: 280px;
	margin: 1.5em;
	background: #84ff84;
	text-align: center;
}
div#enter-btn input {
	width: 90px;
	margin: 0 1em;
}

/* 付箋風タイトル */
.fusen-ttl {
	margin-top: 1.2em;
	width: 770px;
	border-left: 5px solid #234487;
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
	font-weight: bold;
	padding: 5px;
	background: #eee;
	font-size: 15px;
}
.ico-ttl {
	background: url(../../img/arrow11_7.gif) no-repeat 4px center;
	padding-left: 25px;
	font-weight: bold;
	color: navy;
}
.col-navy {
	color: #000080;
}

/* プロフィール */
table.prof-tbl {
	margin-top: 1.2em;
	margin-left: 5px;
	border-collapse: collapse;
}
table.prof-tbl th, table.prof-tbl td {
	padding: 8px;
	border: 1px solid #666;
}

table.prof-tbl th {
	background: #d0d0ff;
	white-space: nowrap;
}

/* 右回り込み */
.fl-r {
	float: right;
}

/* 利用規定 */
.fl-l {
	margin: 1.2em 0;
	text-align: center;
	width: 170px;
	float: left;
}
.clear {
	clear:both;
	width: 0;
}

/* 事業者登録FAQ */
.qa-ico {
	float: left;
	width: 21px;
	line-height: 130%;
}

.qa-msg {
	float: left;
	line-height: 130%;
}
.c-dot {
	margin: 10px 5px;
	clear: both;
	border: 1px dashed #666;
}
ol.point {
	margin-top: 1em;
	margin-bottom: 1em;
}

/* ダウンロード */
p.downld, table.downld td {
	font-weight: bold;
	color: #008000;
	font-family: Verdana,Helvetica,Arial;
}
p.downld img, table.downld td img {
	vertical-align: middle;
	margin-left: 1em;
	border:none;
}
p.downld span, td.ver {
	padding: 5px;
	background: #ffffac;
	color: #000 !important;
}
table.downld {
	border-collapse: separate;
	border-spacing: 5px;
	margin: 1em;
}

/* ディレクトリ構成 */
div.tree {
	width: 92%;
	background: #ddffdd;
	border: 1px solid gray;
	margin: 1em;
	padding: 0.8em;
	text-align: left;
	line-height: 100%;
}

/* 設定解説 */
dl.init dt {
	margin-top: 1em;
	color: #008000;
	font-family: Verdana,Helvetica,Arial;
}
dl.init dd {
	margin-bottom: 1em;
}

/* パーミッション用テーブル */
table.perm {
	border-collapse: collapse;
	margin: 1em 0;
}
table.perm th {
	padding: 4px;
	background: #ddddff;
	white-space: nowrap;
	border: 1px solid #333;
}
table.perm td {
	padding: 4px;
	text-align: center;
	background: #fff;
	border: 1px solid #333;
}

/* FTP転送解説 */
table.ftp-tbl {
	margin: 1em 0;
	/* border-collapse: collapse; */
}
table.ftp-tbl td {
	text-align: center;
	width: 170px;
	border-collapse: collapse;
	padding: 6px;
	border: 1px solid gray;
	white-space: nowrap;
}

/* 解説ページ小タイトル */
div.chap {
    color: #333;
	font-weight: bold;
	font-size: 15px;
    padding: 4px;
    background-color: #D2D2FF;
    border-right: 1px solid #004080;
    border-bottom: 1px solid #004080;
}

/* メッセージ */
div.dot-msg {
	width: 700px;
	border: 1px dotted navy;
	padding: 10px;
	margin: 1em auto;
	background: #e6e6ff;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
/* グリーン色 */
.gr {
	color: green;
}
.red {
	color: #dd0000;
}
/* 行間150% */
.line-150 {
	line-height: 150%;
}
.lh-150 {
	line-height: 150%;
}
div.kent-labo {
	border: 1px dashed #7c3e1f;
	background: #ffffcc;
	padding: 8px;
	margin: 1em;
}
table.labo-tbl {
	border-collapse: collapse;
	margin: 1em 0;
}
table.labo-tbl th, table.labo-tbl td {
	border: 1px solid #7c3e1f;
	padding: 6px;
}
table.labo-tbl th {
	background: #ffffcc;
}
div.support-note {
	margin: 1.5em;
}

/* FAQ用 */
p.line {
	border-top: 1px dotted gray;
	padding: 6px 3px;
}

/* 末尾pagetop用 */
div.bot {
	margin-bottom: 6px;
}

/* フォントサイズ */
.f-12 {
	font-size: 12px;
}
.f-11 {
	font-size: 11px;
}

/* 注文アイコン */
div.ico {
	margin-top: 4px;
}

/* カウンタ配布サイト */
div.count-img {
	margin: 1em 0;
	line-height: 140%;
	border: 1px dotted #804000;
	padding: 10px 5px;
	width: 400px;
	background: #ffe3c8;
}

/* 注目サイト */
table.pr-tbl {
	margin: 0 auto;
}
table.pr-tbl td {
	padding: 8px;
	width: 150px;
	font-size: 11px;
}

img.top-line {
	width: 900px;
	height: 4px;
}

/* 検索ボックス */
#gsc {
    width: 280px;
    margin: 8px 6px;
    /* margin: 0 auto; */
    position: relative;
}
#gsc .gsc-control-cse, 
#gsc .gsc-control-cse-ja,
#gsc .gsib_a {
    margin:0 !important;
    padding:0 !important;
}
/* テキスト入力フォームとボタンの位置 */
#gsc table.gsc-search-box td,
#gsc table.gsc-search-box input {
    vertical-align: top !important;
}
/* テキスト入力フォーム */
#gsc input[type="text"] {
    border: 1px solid #dddddd !important;
    height: 25px !important;
}
#gsc input[type="text"]:focus {
    border: 1px solid #aaaad5 !important;
    outline: 0;  /*safariの自動フォーカスを切る */
}
/* テキスト入力フォームの影を消す */
#gsc #gsc-iw-id1 {
    border: none !important;
}
/* テキスト入力フォームの背景画像位置調整 */
#gsc #gs_tti0 input {
    background-position:5px 5px !important;
}
/* ボタンの色 */
#gsc input.gsc-search-button {
	background: #aaaad5 !important;
	background: -ms-linear-gradient(top, #aaaad5 0%, #aaaad5 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaad5', endColorstr='#aaaad5',GradientType=0 ); /* IE6-9 */
	border: 1px solid #aaaad5 !important;
}
/* ボタンの位置調整と角丸消し */
#gsc .gsc-search-button {
    margin:0 0 0 -16px !important;
    /* border-radius:0; */
}
/* 入力時に出る「×」ボタンの位置調整 */
#gsc .gsib_b a {
    position:absolute;
    top:3px;
    left:185px;
}
/* 入力時に出る×ボタン -- Firefox位置調整 -- */
#gsc .gsib_b span {
        box-sizing: border-box;
   -moz-box-sizing: border-box;
        padding:2px 0 0 0;
}

/* 解説ページヘッダー */
.kai_head {
	margin-top: 8px;
	display: table;
	width: 100%;
}
.kai_head_l {
	display: table-cell;
	text-align: center;
	vertical-align: top;
}
.kai_head_r {
	display: table-cell;
	text-align: center;
	vertical-align: top;
}

/* 解説ページファイル内 */
.files pre, .tree pre {
	font-family: monospace;
	overflow: auto;
}

/* TOP BOX */
.top-box {
	margin: 6px auto;
	display: table;
	width: 900px;
}
.top-box-logo {
	display: table-cell;
	vertical-align: top;
	width: 400px;
}
.top-box-rand {
	display: table-cell;
	vertical-align: top;
	width: 500px;
}
.top-box-gsc {
	display: table-cell;
	vertical-align: top;
	width: 320px;
}
.top-box-com {
	display: table-cell;
	vertical-align: middle;
	font-size: 12px;
}
.top-box-cnt {
	display: table-cell;
	vertical-align: middle;
	width: 140px;
}
.top-box-cell {
	display: table-cell;
	vertical-align: top;
	width: 445px;
}

/* TOP PR-BOX */
#pr-box {
	text-align: left;
	margin: 8px auto;
	font-size: 12px;
	border: 1px dotted gray;
	padding: 6px;
	width: 880px;
}
.zeus {
	margin: 1em;
}

@media only screen and (max-width: 480px) {
	body {
		font-size: 100%;
		color: #222;
		font-family: Verdana,"MS PGothic",Osaka,Arial,sans-serif;
		line-height: 1.2;
		/* background: url(bg3.gif) scroll repeat center top; */
	}
	td {
		text-align: left;
	}
	a:link, a:visited {
		color: #1122cc;
		text-decoration: none;
		display: inline-block;
	}
	a:hover {
		text-decoration: underline;
		color: #dd0000;
	}
	/* TOPロゴ関連 */
	.pr {
		color: #ff8000 !important;
	}
	/* TOP BOX形状 */
	.book_cap {
		color: #454545;
		text-align: center;
	}
	.box1 {
		width: 96%;
	}
	.box2 {
		border-width: 1px;
		border-color: #333;
		border-style: solid;
	}
	.box3 {
		border-width: 1px;
		border-color: #fff #999 #999 #fff;
		border-style: solid;
	}
	.box4 {
		background-color: #d0d0d0;
		padding: 1px;
	}
	.box5 {
		padding: 3px 3px 4px 3px;
		text-align: center !important;
	}
	.box6 {
		border-width: 1px;
		border-color: #999 #fff #fff #999;
		border-style: solid;
	}
	.box7 {
		border: 1px #333 solid;
		background-color: #fff;
		padding: 10px;
	}
	/* 右寄せ */
	div.fl-r {
		float: none;
	}
	.cell_wp {
		color: white;
		background: url(../../img/wp18_33.gif);
	}
	.mainlink a, .lh-20 {
		line-height: 20px;
	}
	.arrow {
		background: url(../../img/arrow.gif) no-repeat 4px center;
		padding-left: 18px;
	}
	.arrow-s {
		background: url(../../img/arrow-s.gif) no-repeat 4px center;
		padding-left: 16px;
	}
	.dotlink_r {
		background: url(../../img/pt12-1-02.gif) no-repeat 4px center;
		padding-left: 17px;
	}
	.ccllink_y {
		background: url(../../img/lm01-03.gif) no-repeat 4px center;
		padding-left: 17px;
	}
	.pr_tbl {
		height: 2px;
		border: 2px;
		border-style: dashed;
	}
	.dot { border: 1px dotted #666; }
	.tbl-key { background: #bdbddf; }
	.tbl-val { background: #fff; }
	/* 基本テーブル */
	table.form-tbl {
		border-collapse: collapse;
		margin: 1em 0;
	}
	table.form-tbl th, table.form-tbl td  {
		padding: 2px;
		border: 1px solid #3c3c79;
	}
	table.form-tbl th  {
		background: #bdbddf;
	}
	table.form-tbl td input[type="text"] {
		padding: 5px;
	}
	div.submit-btn input {
		width: 96%;
		height: 32px;
	}
	/* 検索窓 */
	form.ksearch {
		width: 96%;
		background: url(../../img/input.gif) left top no-repeat;
		display: block;
		height: 24px;
		position: relative;
	}
	input.keywd {
		width: 96%;
		position: absolute;
		top: 3px;
		left: 12px;
		border: 1px solid #fff;
		color: #888;
	}
	input.keybtn {
		position: absolute;
		top: 3px;
		left: 174px;
	}
	/* フッター */
	div.footer {
		margin-top: 4px;
		text-align: center;
	}
	/* 解説ページindexトップ */
	.cgi-menu {
		width: 96% !important;
		border-collapse: collapse;
		margin: 0 auto;
	}
	.cgi-menu .thead {
		display: none;
	}
	.cgi-menu tr {
		width: 96%;
	}
	.cgi-menu th, .cgi-menu td {
		display: block;
		text-align: left !important;
		width: 96%;
		padding: 0;
		white-space: normal !important;
	}
	.cgi-menu td:first-child {
		background: #CACAE6;
		color: #000;
		font-weight: bold;
		text-align: center;
	}
	.cgi-menu td:before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
		margin-right: 10px;
	}
	.cgi-menu .note {
		width: 96% !important;
	}
	.prog-name {
		width: 96%;
	}
	.det-btn, .dif-img { /* 解説ページボタン */
		text-align: center;
		width: 96%;
	}
	/* 各解説ページヘッダ */
	table.kai-head {
		width: 96%;
		margin: 0 auto;
	}
	table.kai-head td.kai-ttl {
		width: 96%;
	}
	table.kai-head p {
		text-align: center;
	}
	
	/* メイン */
	div.main {
		text-align: center;
		width: 96%;
	}
	div.doc-box {
		margin: 0 auto;
		text-align: left;
		width: 96%;
	}
	
	/* 本体 */
	div.body {
		margin: 1em auto 0 auto;
		width: 96%;
		text-align: left;
	}
	/* - 共通 - */
	img.icon {
		vertical-align: middle;
		border: none;
	}
	/* サポートコーナリスト */
	ul.sup-list {
		text-align: left;
		line-height: 150%;
	}
	/* 注釈 */
	div.note {
		margin-top: 1.2em !important;
		width: 96%;
		text-align: left !important;
	}
	/* 解説トップヘッダー部 */
	table.top-ttl {
		width: 96%;
		margin: 0 auto;
	}
	table.top-ttl td {
		vertical-align: top;
		display: block;
	}
	table.top-ttl td span {
		color: navy;
		font-weight: bold;
	}
	/* 入室ボタン：サポートコナー */
	#enter-btn {
		border: 1px solid #006400;
		padding: 2px;
		width: 96%;
		margin: 1.5em;
		background: #84ff84;
		text-align: center;
	}
	#enter-btn input {
		width: 96%;
		margin: 0 1em;
	}
	/* 付箋風タイトル */
	.fusen-ttl {
		margin-top: 1em;
		width: 96%;
		border-left: 5px solid #234487;
		border-bottom: 1px solid #333;
		border-right: 1px solid #333;
		font-weight: bold;
		padding: 2px;
		background: #eee;
	}
	.ico-ttl {
		background: url(../../img/arrow11_7.gif) no-repeat 4px center;
		padding-left: 25px;
		font-weight: bold;
		color: navy;
	}
	/* プロフィール */
	table.prof-tbl {
		margin-top: 1em;
		margin-left: 5px;
		border-collapse: collapse;
	}
	table.prof-tbl th, table.prof-tbl td {
		padding: 8px;
		border: 1px solid #666;
	}
	table.prof-tbl th {
		background: #d0d0ff;
		white-space: nowrap;
	}
	/* 右回り込み */
	.fl-r {
		float: none;
	}
	/* 利用規定 */
	.fl-l {
		margin: 1.2em 0;
		text-align: center;
		width: 100%;
		float: none;
	}
	.clear {
		clear:both;
	}
	/* 事業者登録FAQ */
	.qa-ico {
		float: none;
		width: 96%;
		line-height: 130%;
	}
	.qa-msg {
		float: none;
		line-height: 130%;
	}
	.c-dot {
		margin: 10px 5px;
		clear: both;
		border: 1px dashed #666;
	}
	ol.point {
		margin-top: 1em;
		margin-bottom: 1em;
	}
	/* ダウンロード */
	p.downld, table.downld td {
		font-weight: bold;
		color: #008000;
	font-family: Verdana,Helvetica,Arial;
	}
	p.downld img, table.downld td img {
		vertical-align: middle;
		margin-left: 1em;
		border:none;
	}
	p.downld span, td.ver {
		padding: 2px;
		background: #ffffac;
		color: #000 !important;
	}
	table.downld {
		border-collapse: separate;
		border-spacing: 5px;
		margin: 1em;
	}
	/* ディレクトリ構成 */
	div.tree {
		width: 96%;
		background: #ddffdd;
		border: 1px solid gray;
		margin: 1em;
		padding: 0.8em;
		text-align: left;
		line-height: 100%;
	}
	/* 設定解説 */
	dl.init dt {
		margin-top: 1em;
		color: #008000;
		font-family: Verdana,Helvetica,Arial;
	}
	dl.init dd {
		margin-bottom: 1em;
	}
	/* パーミッション用テーブル */
	table.perm {
		border-collapse: collapse;
		margin: 1em 0;
	}
	table.perm th {
		padding: 2px;
		background: #ddddff;
		white-space: nowrap;
		border: 1px solid #333;
	}
	table.perm td {
		padding: 2px;
		text-align: center;
		background: #fff;
		border: 1px solid #333;
	}
	/* FTP転送解説 */
	table.ftp-tbl {
		margin: 1em 0;
	}
	table.ftp-tbl td {
		text-align: center;
		width: 96%;
		border-collapse: collapse;
		padding: 2px;
		border: 1px solid gray;
		white-space: nowrap;
	}
	/* 解説ページ小タイトル */
	div.chap {
    	color: #333;
		font-weight: bold;
    	padding: 2px;
    	background-color: #D2D2FF;
    	border-right: 1px solid #004080;
    	border-bottom: 1px solid #004080;
	}
	/* メッセージ */
	div.dot-msg {
		width: 96%;
		border: 1px dotted navy;
		padding: 2px;
		margin: 1em auto;
		background: #e6e6ff;
		border-radius: 6px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
	}
	.line-150 {
		line-height: 150%;
	}
	.lh-150 {
		line-height: 150%;
	}
	.kent-labo {
		border: 1px dashed #7c3e1f;
		background: #ffffcc;
		padding: 2px;
		margin: 1em 5px;
	}
	.kent-labo ul {
		margin: 4px 8px;
		padding: 1px;
	}
	.zeus {
		margin: 0;
	}
	img.zeus-ban {
		width: 96%;
	}
	table.labo-tbl {
		border-collapse: collapse;
		margin: 1em 0;
	}
	table.labo-tbl th, table.labo-tbl td {
		border: 1px solid #7c3e1f;
		padding: 6px;
	}
	table.labo-tbl th {
		background: #ffffcc;
	}
	div.support-note {
		margin: 1.5em;
	}
	
	/* FAQ用 */
	p.line {
		border-top: 1px dotted gray;
		padding: 2px;
	}
	/* 末尾pagetop用 */
	div.bot {
		margin-bottom: 6px;
	}
	/* 注文アイコン */
	div.ico {
		margin-top: 4px;
	}
	/* カウンタ配布サイト */
	div.count-img {
		margin: 1em 0;
		line-height: 140%;
		border: 1px dotted #804000;
		padding: 1px;
		width: 96%;
		background: #ffe3c8;
	}
	/* 注目サイト */
	table.pr-tbl {
		margin: 0 auto;
	}
	table.pr-tbl td {
		padding: 8px;
		width: 96%;
	}
	img.top-line {
		width: 96%;
		height: 4px;
	}
	.small {
		font-size: 100%;
	}
	/* 検索ボックス */
	#gsc {
   	 	width: 96%;
   	 	margin: 8px 6px;
    	/* margin: 0 auto; */
    	position: relative;
	}
	#gsc .gsc-control-cse, 
	#gsc .gsc-control-cse-ja,
	#gsc .gsib_a {
    	margin:0 !important;
    	padding:0 !important;
	}
	/* テキスト入力フォームとボタンの位置 */
	#gsc table.gsc-search-box td,
	#gsc table.gsc-search-box input {
    	vertical-align: top !important;
	}
	/* テキスト入力フォーム */
	#gsc input[type="text"] {
    	border: 1px solid #dddddd !important;
    	height: 25px !important;
	}
	#gsc input[type="text"]:focus {
    	border: 1px solid #aaaad5 !important;
    	outline: 0;  /*safariの自動フォーカスを切る */
	}
	/* テキスト入力フォームの影を消す */
	#gsc #gsc-iw-id1 {
    	border: none !important;
	}
	/* テキスト入力フォームの背景画像位置調整 */
	#gsc #gs_tti0 input {
    	background-position:5px 5px !important;
	}
	/* ボタンの色 */
	#gsc input.gsc-search-button {
		background: #aaaad5 !important;
		background: -ms-linear-gradient(top, #aaaad5 0%, #aaaad5 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaad5', endColorstr='#aaaad5',GradientType=0 ); /* IE6-9 */
		border: 1px solid #aaaad5 !important;
	}
	/* ボタンの位置調整と角丸消し */
	#gsc .gsc-search-button {
   	 margin:0 0 0 -16px !important;
	}
	/* 入力時に出る「×」ボタンの位置調整 */
	#gsc .gsib_b a {
    	position:absolute;
    	top:3px;
    	left:185px;
	}
	/* 入力時に出る×ボタン -- Firefox位置調整 -- */
	#gsc .gsib_b span {
   	box-sizing: border-box;
   	-moz-box-sizing: border-box;
   	padding:2px 0 0 0;
	}
	/* 解説ページファイル内 */
	.files pre, .tree pre {
		font-family: monospace;
		overflow: auto;
	}
	/* TOP BOX */
	.top-box {
		/* margin-top: 6px; */
		display: table;
		width: 96%;
	}
	.top-box-logo {
		display: block;
		vertical-align: top;
		width: 96%;
	}
	.top-box-rand {
		display: block;
		vertical-align: top;
		width: 96%;
	}
	.top-box-gsc {
		display: block;
		vertical-align: top;
		width: 96%;
	}
	.top-box-com {
		display: block;
		vertical-align: middle;
	}
	.top-box-cnt {
		display: block;
		vertical-align: top;
		width: 96%;
	}
	.top-box-cell {
		display: block;
		vertical-align: top;
		width: 96%;
		margin-top: 6px !important;
	}
	/* TOP PR-BOX */
	#pr-box {
		text-align: left;
		margin-top: 8px;
		border: 1px dotted gray;
		padding: 1px;
		width: 96%;
	}
}
